
@{
    ViewBag.Title = "Đăng Nhập";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="py-12 bg-slate-300 text-center mt-[116px]">
    <a class="text-slate-500 mx-2" href="/">Trang chủ</a> / <span class="mx-2">Tài khoản</span>
</div>
<!-- Login -->
<form class="my-10 flex flex-col items-center gap-3" method="post">
    <h2 class="text-center font-bold text-[24px]">Đăng Nhập</h2>
    <input type="text"
           name="username"
           class="p-2 py-3 bg-gray-100 w-[600px] outline-none border"
           value="@ViewBag.username"
           placeholder="Email">
    <input type="text"
           name="password"
           class="p-2 py-3 bg-gray-100 w-[600px] outline-none border"
           placeholder="Mật khẩu">
    <p class="text-red-600">@ViewBag.error</p>
    <button class="bg-red-500 font-semibold text-white py-1 w-[350px]">
        Đăng
        nhập
    </button>
    <p>
        Bạn chưa có tài khoản ?
        <a href="/home_63130599/register">Đăng ký ở đây</a>

    </p>
    <a href="#">Quên mật khẩu ?</a>
    <a href="/">Quay trở lại cửa hàng</a>
</form>
