@model Project_63130599.Models.SanPham

@{
    ViewBag.Title = "KITSTORE | Nhập Hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="w-full h-screen overflow-x-hidden border-t flex flex-col">
    <p class="text-xl pb-2 flex items-center m-6">
        <i class="fas fa-list mr-3"></i> Thêm sản phẩm
    </p>
    <div class="w-full lg:w-1/2 mt-2 pl-0 lg:pl-2 mx-auto">

        <div class="leading-loose">
            <form method="post" class="p-10 bg-white rounded shadow-xl" enctype="multipart/form-data">
                <p class="text-lg text-gray-800 font-medium pb-4">Nhập Sản Phẩm</p>
                <div class="">
                    <label class="block text-sm text-gray-600" for="tenSP">Tên sản phẩm</label>
                    <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="tenSP" oninvalid="this.setCustomValidity('Vui Lòng nhập tên sản phẩm')" oninput="this.setCustomValidity('')" name="tenSP" type="text" required="" placeholder="Tên sản phẩm" aria-label="tenSP">
                </div>
                <div class="inline-block mt-2 w-1/2 pr-1">
                    <label class="block text-sm text-gray-600" for="Gia">Giá sản phẩm</label>
                    <input class="w-full pl-5  py-1 text-gray-700 bg-gray-200 rounded" id="Gia" oninvalid="this.setCustomValidity('Vui Lòng nhập giá sản phẩm (> 1000đ)')" oninput="this.setCustomValidity('')" name="Gia" type="number" required="" min="1000" placeholder="Giá sản phẩm" aria-label="Gia">
                </div>
                <div class="inline-block mt-2 -mx-1 pl-1 w-1/2">
                    <label class=" block text-sm text-gray-600" for="SoLuong">Số lượng</label>
                    <input class="w-full pl-5 py-1 text-gray-700 bg-gray-200 rounded" id="SoLuong" oninvalid="this.setCustomValidity('Vui Lòng nhập số lượng sản phẩm (> 0)')" oninput="this.setCustomValidity('')" name="SoLuong" type="number" min="1" required="" placeholder="Số lượng" aria-label="SoLuong">
                </div>
                <div class="mt-2">
                    <label class=" block text-sm text-gray-600" for="MoTa">Mô tả</label>
                    <textarea class="w-full px-5 py-2 text-gray-700 bg-gray-200 rounded" id="message" oninvalid="this.setCustomValidity('Vui Lòng nhập mô tả sản phẩm')" oninput="this.setCustomValidity('')" name="MoTa" rows="6" required="" placeholder="Mô tả sản phẩm.." aria-label="MoTa"></textarea>
                </div>
                <div class="">
                    <label class="block text-sm text-gray-600" for="Anh">Ảnh sản phẩm</label>
                    <input class="w-full px-2 py-2 text-gray-700 bg-gray-200 rounded" id="Anh" oninvalid="this.setCustomValidity('Vui Lòng chọn ảnh sản phẩm')" oninput="this.setCustomValidity('')" name="fileUpload" type="file" required="" placeholder="Thêm ảnh sản phẩm" aria-label="Anh">
                </div>

                <div class="form-group">
                    <label class="block text-sm text-gray-600" for="Anh">Danh mục</label>
                    <select id="IdDanhMuc" name="IdDanhMuc" class="border p-2 rounded-[8px] w-1/2 outline-blue-600 text-gray-700 bg-gray-200 rounded">
                        @foreach (var item in new Project_63130599.DATA.sdDanhMuc().LoadDanhSach())
                        {
                            <option class="" value="@item.Id">@item.Ten</option>
                        }
                    </select>

                </div>
                <div class="mt-6">
                    <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit">Thêm sản phẩm</button>
                </div>
            </form>
        </div>
        <p class="pt-6 text-gray-600">
        </p>
    </div>

</div>

