
@{
    ViewBag.Title = "ThanhToanThanhCong";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="mt-[120px] py-[120px] flex flex-col items-center justify-center gap-3">
    <h2 class="font-semibold text-[30px]">
        Đặt
        hàng thành công <i class="fa-regular fa-circle-check text-green-400"></i>
    </h2>
    <a href="/" class="text-blue-600">Quay lại trang chủ</a>
</div>